@font-face {
    font-family: 'roboto';
    src: url('Roboto-Medium.ttf') format('truetype');
}
body {
    background-color: rgb(147, 147, 147);
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
}



.main img{
    margin-top: 0px;
    margin-right: 0px;
    margin-left: 0px;
    width: 100%;
    
}   

.description
{
    font-family: 'roboto';    
    margin-left: 130px;
    margin-right: 130px;
    text-align: center;
    font-size: 2em ;
    color: blue;

}